<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotSpatial.Data" version="2.0.1.2" targetFramework="net48" />
  <package id="DotSpatial.GeoAPI" version="1.7.4.3" targetFramework="net48" />
  <package id="DotSpatial.NetTopologySuite" version="1.14.4" targetFramework="net48" />
  <package id="DotSpatial.Positioning" version="2.0.1.2" targetFramework="net48" />
  <package id="DotSpatial.Projections" version="2.0.1.2" targetFramework="net48" />
  <package id="DotSpatial.Serialization" version="2.0.1.2" targetFramework="net48" />
  <package id="log4net" version="2.0.14" targetFramework="net48" />
</packages>