<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database.Properties.Settings.FarmingDatabaseConnectionString"
            connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=FarmingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FarmingGPS.Database.Properties.Settings.FarmingDatabaseConnectionString"
            connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=FarmingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FarmingGPS.Database.Properties.Settings.FarmingDatabaseConnectionString1"
            connectionString="Data Source=SRV03\SQLPublic,50801;Initial Catalog=FarmingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FarmingGPS.Database.Properties.Settings.FarmingDatabaseConnectionString2"
            connectionString="Data Source=srv03.nolgarden.net\SQLPublic,50801;Initial Catalog=FarmingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>