<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database.Properties.Settings.FarmingDatabaseConnectionString"
            connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=FarmingDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>