<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.Drawing.BitmapFont" version="1.3.4" targetFramework="net46" />
  <package id="DotSpatial.Data" version="1.9" targetFramework="net46" />
  <package id="DotSpatial.Mono" version="1.9" targetFramework="net46" />
  <package id="DotSpatial.Positioning" version="1.9" targetFramework="net45" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net45" />
  <package id="DotSpatial.Serialization" version="1.9" targetFramework="net45" />
  <package id="DotSpatial.Topology" version="1.9" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net46" />
  <package id="GMap.NET.Presentation" version="1.7.5" targetFramework="net45" />
  <package id="HelixToolkit" version="2.13.1" targetFramework="net46" />
  <package id="HelixToolkit.Wpf" version="2.13.1" targetFramework="net46" />
  <package id="HelixToolkit.Wpf.SharpDX" version="2.13.1" targetFramework="net46" />
  <package id="log4net" version="2.0.12" targetFramework="net46" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="MJPEG-Decoder" version="1.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="Rssdp" version="3.5.5" targetFramework="net45" />
  <package id="SharpDX" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net46" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net46" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net46" />
  <package id="System.Console" version="4.3.0" targetFramework="net46" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net46" />
  <package id="Tmds.MDns" version="0.7.1" targetFramework="net46" />
</packages>